@page
@model IndexModel
@{
	ViewData["Title"] = "Home page";
}
<body>>
    <div class="text-center">
        <h1 class="display-4">Data From the Last Hour</h1>
        <p></p>
        <iframe src="https://clouddevelopment4231.azurewebsites.net/Hourly/?" width="100%"></iframe>
    </div>
    <div class="text-center">
        <h1 class="display-4">Data From the Last 24hrs</h1>
        <p></p>
        <iframe src="https://clouddevelopment4231.azurewebsites.net/Daily/" width="100%"></iframe>
    </div>
    <div class="text-center">
        <h1 class="display-4">Data From All Time</h1>
        <p></p>
        <iframe src="https://clouddevelopment4231.azurewebsites.net//AllTime/" width="100%"></iframe>
    </div>
    <div class="text-center">
        <h1 class="display-4">Averages of the Last Day</h1>
        <p></p>
        <iframe src="https://clouddevelopment4231.azurewebsites.net//DailyAverages/" width="100%"></iframe>
    </div>
    <div class="text-center">
        <h1 class="display-4">Averages of the Last Hour</h1>
        <p></p>
        <iframe src="https://clouddevelopment4231.azurewebsites.net//HourlyAverages/" width="100%"></iframe>
    </div>
</body>


